{% extends '::base.html.twig' %}

{% block title %} Axes  {{ parent() }} {% endblock %}
 {% block pagestyle %}
     <!-- iCheck for checkboxes and radio inputs -->
     <link rel="stylesheet" href="{{ absolute_url(asset('assets/plugins/iCheck/all.css')) }}">
 {% endblock %}

{% block contentheader %}
    <h1>
        Axes
        <small>Ajouter un axe</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('nb_main_homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Axes</li>
    </ol>
{% endblock %}

{% block content %}
   <div class="row">
       <div class="col-md-12">
           <!-- general form elements -->
           <div class="box box-primary">
               <div class="box-header with-border">
                   <h3 class="box-title">Ajouter un axe</h3>
               </div>
               <!-- /.box-header -->
               <!-- form start -->
               {{ form_start(form, {'attr': { 'role' : 'form' }}) }}

               {# Les erreurs générales du formulaire. #}
               {{ form_errors(form) }}
                   <div class="box-body">
                       <div class="form-group">
                           <label>Source</label>
                           {{ form_widget(form.source, {'attr': {'class': 'form-control' }}) }}
                       </div>
                       <div class="form-group">
                           <label>Destination</label>
                           {{ form_widget(form.destination, {'attr': {'class': 'form-control' }}) }}
                       </div>
                       <div class="form-group">
                           <label>Distance</label>
                           {{ form_widget(form.distance, {'attr': {'class': 'form-control' }}) }}
                       </div>
                       <div class="form-group">
                           <label>Capacite du bus</label>
                           {{ form_widget(form.capacite, {'attr': {'class': 'form-control' }}) }}
                       </div>
                       <div class="form-group">
                           <label>Type de destination</label>
                           {{ form_widget(form.type, {'attr': {'class': 'form-control' }}) }}
                       </div>
                       <div class="form-group">
                           <label>Type de Bus</label>
                           {{ form_widget(form.typeBus, {'attr': {'class': 'form-control' }}) }}
                       </div>

                       <div class="form-group">
                           <label>Description</label>
                           {{ form_widget(form.description, {'attr': {'class': 'form-control' }}) }}
                       </div>
                       <div class="form-group">
                           <label>Photo</label>
                           <img src="{{ absolute_url(asset('assets/images/uploads/compagnies/photo/'~axes.photo)) }}" width="100" height="100" alt=""/>
                           {{ form_widget(form.photo, {'attr': {'class': 'file' }}) }}
                       </div>
                       <div class="form-group">
                           <label>Activé ?</label>
                           {{ form_widget(form.isActive, {'attr': {'class': 'form-control' }}) }}
                       </div>


                   </div>
                   <!-- /.box-body -->

                   <div class="box-footer">
                       <button type="submit" class="btn btn-primary">Submit</button>
                   </div>
               {{ form_rest(form) }}

               {# Fermeture de la balise <form> du formulaire HTML #}
               {{ form_end(form) }}
           </div>
           <!-- /.box -->
       </div>
   </div>
{% endblock %}

{% block pagescript %}
    <!-- iCheck 1.0.1 -->
    <script src="{{ absolute_url(asset('assets/plugins/iCheck/icheck.min.js')) }}"></script>
{% endblock %}


{% block script %}
    <!-- page script -->
    <script>
        $(function () {
            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
        });
    </script>

{% endblock %}