{% extends '::base.html.twig' %}

{% block title %} Compagnie  {{ parent() }} {% endblock %}
 {% block pagestyle %}
     <link rel="stylesheet" href="{{ absolute_url(asset('assets/plugins/datatables/dataTables.bootstrap.css')) }}">
 {% endblock %}

{% block contentheader %}
    <h1>
        Compagnies de Transport
        <small>Liste des utilisateurs</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('nb_main_homepage') }}"><i class="fa fa-dashboard"></i> Accueil</a></li>
        <li class="active">Compagnie</li>
    </ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Utilisateurs de {{ compagnie.nom }} </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class=" pull-right">
                    <a href="{{ path('nb_main_ajouter_compagnie_utilisateur', {'compagnie_id': compagnie.id}) }}" class="btn btn-app">
                        <i class="fa fa-plus"></i> Ajouter utilisateur
                    </a>
                </div><br>
                <table id="company" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>
                            Nom
                        </th>
                        <th>
                            Prenom
                        </th>
                        <th>
                            Email/Nom d'utilisateur
                        </th>
                        <th>
                            Derniere connexion
                        </th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for key, val in compagnie.users %}
                        <tr>
                            <td><b>{{ val.nom }}</b></td>
                            <td><b>{{ val.prenom }}</b></td>
                            <td><b>{{ val.email }}</b></td>
                            <td><b>{{ val.lastLogin | date('d M Y h:i:s') }}</b></td>
                            <td>

                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>
                            Nom
                        </th>
                        <th>
                            Prenom
                        </th>
                        <th>
                            Email/Nom d'utilisateur
                        </th>
                        <th>
                            Derniere connexion
                        </th>
                        <th>Options</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    {% endblock %}

    {% block pagescript %}
        <!-- DataTables -->
        <script src="{{ absolute_url(asset('assets/plugins/datatables/jquery.dataTables.min.js')) }}"></script>
        <script src="{{ absolute_url(asset('assets/plugins/datatables/dataTables.bootstrap.min.js')) }}"></script>
    {% endblock %}


    {% block script %}
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#company').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>

{% endblock %}